<!doctype html>
<html lang="PT_br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fragments/navbar.css">
    <link rel="stylesheet" href="css/fragments/footerpage.css">
    <link rel="stylesheet" href="css/fragments/popup.css">

    <script src="js/loja.js"></script>

    <title>Biblioteca</title>

  </head>
  <body>
    <!--navbar-->
    <div th:replace="~{fragments :: navbar}"></div>
    
    <p class="fs-1">Deu erro cabo </p>

    <!--footer-->
    <div th:replace="~{fragments :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/loginpopup.js"></script>

  </body>
</html>