<!doctype html>
<html lang="PT_br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/paginas/favoritos.css">
    <link rel="stylesheet" href="css/fragments/navbar.css">
    <link rel="stylesheet" href="css/fragments/footerpage.css">
    <link rel="stylesheet" href="css/fragments/popup.css"> 
    <title>Perfil</title>

    <title>Favoritos</title>
  </head>
  <body>
    <!--navbar-->
    <div th:replace="~{fragments :: navbar}"></div>
    <!--pageContent-->
    <div class="row">
      <!--tabBar-->
      <div class="col-1 p-1 tabbar" style="min-height: 90vh;">
        <div class="col-12">
          <img src="imgs/favoritos/logo.png" class="img-fluid rounded float-start"/>
        </div>
        <div class="container col-12">
          <form  method="GET" th:action="@{/searchFv2}" class="tabCont">
            <div class="radioTabBar">
              <ul class="radioTabBar" >
                <li class="radioTabBar">
                  <input type="radio" value="3" id="f-option" name="keywordBt">
                  <label for="f-option">Imagem</label>
                  
                  <div class="check"></div>
                </li>                  
                <li class="radioTabBar">
                  <input type="radio" id="t-option" value="1" name="keywordBt">
                  <label for="t-option">Vídeo</label>
                  
                  <div class="check"><div class="inside"></div></div>
                </li>
                <li class="radioTabBar">
                  <input type="radio" id="s-option" value="2" name="keywordBt">
                  <label for="s-option">Texto</label>
                  
                  <div class="check"><div class="inside"></div></div>
                </li>                  
                <li class="radioTabBar">
                  <input type="radio" id="x-option" value="4" name="keywordBt">
                  <label for="x-option">Audio</label>
                  
                  <div class="check"><div class="inside"></div></div>
                </li>
              </ul>
              <button type="submit" class="btn btn-primary rounded-pill">Buscar</button>
            </div>    
          </form>   
        </div>
      </div>
      <!--content-->
      <div class="col-11 pt-3 px-0" style="margin: 0px;"> 
        <!--searchbox-->
        <div class="row height justify-content-center mb-5">
          <div class="col-md-6">
            <form method="GET" th:action="@{/searchFv}" class="search">
              <input type="text" name="keyword"  th:value="${keyword}" class="form-control form-input rounded-pill" placeholder="Encontrar algo...">
              <button class="btn btn-primary rounded-pill">Pesquisar</button>
            </form>
          </div>
        </div>
        <div class="mt-3 mb-3" style="width: 100%; background-color: #4B18B0">
          <p class="px-2" style="color: white; text-indent: 7%; font-size: 30px;">Favoritos</p>
        </div>
        <div class="colunmn col">
          <!--content-content-->
          <div class="row col-12 justify-content-center">
            <div class="pt-3 px-3 mb-5" th:each="l : ${list}" style="width: 350px;">
              <div class="card">
                <a th:href="${l.contentPath}" target="_blank"><img th:src="${l.imagePath}" class="card-img-top" style="height: 290px; width: 100%;" alt="..."></a>
                <form method="post" th:action= "@{/fv/favorite/} +${#authentication.getName()} + '/' + ${l.id}">
                  <button type="submit" class="position-absolute top-0 end-0">
                    <img src="imgs/favoritos/delete.png" id="deleteIcon" alt="">
                  </button>
                </form>
                <div class="card-body">
                  <p class="card-title" th:text="${l.name}" style="font-size: larger; font-weight: 500;"></p>
                  <p class="card-text" th:text="${l.description}" data-ls-module="charCounter"></p>
                  <a th:href="${l.contentPath}" class="btn mt-3 text-white" style="background-color: #4B18B0;" th:download="${l.name}">Baixar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--footer-->
    <div th:replace="~{fragments :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/loginpopup.js"></script>

  </body>
</html>