<!doctype html>
<html lang="PT_br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/loginpopup.css">
    <title>Home</title>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-survival101 p-">
      <div class="container ">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="container p-1">
          <div class="collapse navbar-collapse" id="navbarColor02">
            <div class="container">
              <ul class="navbar-nav justify-content-center">
                <li class="nav-item active">
                  <a class="nav-link " href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Loja</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link border-bottom border-danger" href="#">Favoritos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Perfil <i class="ion-ios-arrow-down"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre <i class="ion-ios-arrow-down"></i></a>
                </li>
                <li class="nav-item position-absolute end-0 ">
                  <a class="nav-link" id="bt_login" href="#">LOGIN <i class="ion-ios-arrow-down"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>   
    </nav>

    <!--footer-->
    <footer class="position-sticky bg-dark text-white text-center">
        <h6>Copyright by Thiago da Silva Lima and colaborators</h6>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>