<!doctype html>
<html lang="PT_br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/loginpopup.css"> 

    <title>Perfil</title>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-survival101 p-">
      <div class="container ">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="container p-1">
          <div class="collapse navbar-collapse" id="navbarColor02">
            <div class="container">
              <ul class="navbar-nav justify-content-center">
                <li class="nav-item active">
                  <a class="nav-link " href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Loja</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="favoritos.html">Favoritos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link border-bottom border-danger" href="perfil.html">Perfil <i class="ion-ios-arrow-down"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre <i class="ion-ios-arrow-down"></i></a>
                </li>
                <li class="nav-item position-absolute end-0 ">
                  <a class="nav-link" id="btnLogin" style="color: #C6DDFF; cursor: pointer;">LOGIN <i class="ion-ios-arrow-down"></i></a>
                </li>
                <li class="nav-item position-absolute end-0 mx-5">
                  <a class="nav-link mx-3" id="btnSigin" style="color: #C6DDFF; cursor: pointer;">SIGIN <i class="ion-ios-arrow-down"></i></a>
                </li>
                <div id="loginModal" class="modal">
                  <!-- Modal content login -->
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="container">
                        <div class="row">
                          <div class="col-md-6 offset-md-3">
                            <div class="card my-5">
                              <form class="card-body cardbody-color p-lg-5">
                    
                                <div class="text-center">
                                  <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                    width="200px" alt="profile">
                                </div>
                                <div class="mb-3">
                                  <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                                    placeholder="Usuario">
                                </div>
                                <div class="mb-3">
                                  <input type="password" class="form-control" id="password" placeholder="Senha">
                                </div>
                                <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Entrar</button></div>
                                <!--<div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
                                  Registered? <a href="#" class="text-dark fw-bold"> Create an
                                    Account</a>
                                </div>-->
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div id="siginModal" class="modal">
                  <div class="modal-content">
                    <span class="close2 close">&times;</span>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6 offset-md-3">
                          <div class="card my-5">               
                            <form class="card-body cardbody-color p-lg-5" method="post" action="/users/insert">
                              <div class="text-center">
                                <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                  width="200px" alt="profile">
                              </div>
                  
                              <div class="mb-3">
                                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Usuario" name="username" required>
                              </div>
                              <div class="mb-3">
                                <input type="text" class="form-control" id="email" placeholder="Email" pattern=".*@.*" name="email" required>
                              </div>
                              <div class="mb-3">
                                <input type="password" class="form-control" id="password" aria-describedby="emailHelp" name="password" placeholder="Senha" required>
                              </div>
                              <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Cadastrar</button></div>
                              <!--<div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
                                Registered? <a href="#" class="text-dark fw-bold"> Create an
                                  Account</a>
                              </div>-->
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>   
    </nav>
    
    <!--pageContent-->
    <div class="card" style="border: none;">
      <img src="imgs/perfil/black.jpeg" height="400px" alt="">
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <img class="rounded-circle" src="imgs/perfil/foto.jpeg" style="margin-top: -80px; margin-bottom: 20px" height="200px" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <a href="javascript:void(0)" class="btn rounded-pill" style="background-color: #E7803D; color: white; width: 120px;">Seguir</a>
        </div>
        <div class="d-grid gap-1 pt-4 text-center">
          <h3 class="m-b-0">Hanna Jackson</h3>
          <p>Web Designer &amp; Developer</p>
        </div>
      </div>
    </div>

    <!--Content-Content-->
    <div class="mt-3" style="width: 100%; background-color: #E7803D; text-indent: 3%;">
      <h3 class="px-2 py-1" style="color: white;">Criações</h3>
    </div>
    <div class="colunmn col">
      <div class="row justify-content-center gap-1 pt-3 px-3">
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="imgs/favoritos/contents_image.jpg" class="card-img-top pt-1" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <!--pagination-->
      <div class="d-flex justify-content-center py-2" aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--footer-->
    <footer class="position-sticky bg-dark text-white text-center p-1" style="position: fixed; left: 0; bottom: 0;" >
        <h6>Copyright by Thiago da Silva Lima and colaborators</h6>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/loginpopup.js"></script>
    
  </body>
</html>