<!doctype html>
<html html xmlns:th = "www.thymeleaf.com">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/paginas/profile.css">
    <link rel="stylesheet" href="css/fragments/navbar.css">
    <link rel="stylesheet" href="css/fragments/footerpage.css">
    <link rel="stylesheet" href="css/fragments/popup.css"> 

    <title>Perfil</title>
  </head>
  <body>
    <!--navbar-->
    <div th:replace="~{fragments :: navbar}" ></div>
    <!--pageContent-->
    <div class="card">
      <img  class="card-img-top" src="imgs\perfil\black.jpeg" alt="capa">
      <div class="card-body card-background">
        <div class="d-flex justify-content-center">
          <img class="rounded-circle profile" src="imgs/compartilhadas/icone perfil padrao.jpg" alt="">
        </div>
        <div class="d-grid gap-1 pt-4 text-center">
          <p class="m-b-0 text-profile" style="font-size: 60px;" sec:authentication="name"></p>
        </div>
      </div>
    </div>
    
    <div class="mt-3 strip">
      <div class="row align-items-center">
        <h3 class="px-2 py-1 fs-2 fw-bold text-white col-11 m-0">Criações</h3>
        <a href="/upload" class="btn rounded-pill col-1" style="height: 40px; width: 120px; font-size: 20px;">Adicionar</a>
      </div>
    </div>
    <!--Content-Content-->
    <div class="colunmn col pt-4">
      <!--content-content-->
      <div class="row col-12 justify-content-center">
        <div th:if= "${#lists.isEmpty(list)}">
          <div th:replace="fragments :: empty"></div>
        </div>

        <div class="pt-3 px-3 mb-5" th:each="l : ${list}" style="width: 350px;">
          <p class="visually-hidden" th:id= "${l.id}"></p>
          <div class="card">
            <a th:href="${l.contentPath}" target="_blank"><img th:src="${l.imagePath}" class="card-img-top" style="height: 290px; width: 100%;" alt="..."></a>
            <form method="get" th:action= "@{/products/delete/} +${#authentication.getName()} + '/' + ${l.id}">
              <input type="text" class="visually-hidden" th:value="${l.imagePath}" name="image">
              <input type="text" class="visually-hidden" th:value="${l.contentPath}" name="content">
              <button type="submit" class="position-absolute top-0 end-0"><img src="imgs/perfil/delete.png" id="deleteIcon" alt=""></button>
            </form>
            <div class="card-body">
              <p class="card-title" th:text="${l.name}" style="font-size: larger; font-weight: 500;"></p>
              <p class="card-text" th:text="${l.description}" data-ls-module="charCounter"></p>
              <a th:href="${l.contentPath}" class="btn mt-3 text-white" style="background-color: #4B18B0;" th:download="${l.name}">Baixar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments :: footer}"></div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/loginpopup.js"></script>
    <script>

    </script>
  </body>
</html>