<!doctype html>
<html lang="PT_br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/paginas/login.css">
    <link rel="stylesheet" href="css/fragments/navbar.css">
    <link rel="stylesheet" href="css/fragments/footerpage.css">
    <link rel="stylesheet" href="css/fragments/popup.css"> 
    <title>Cadastrar</title>

    <style>
      .modal-content2 {
        background-image: url('/imgs/compartilhadas/space.jpg');
        margin: auto;
        width: 50%; 
      }
    </style>
  </head>
  <body>
    <!--navbar-->
    <div th:replace="~{fragments :: navbar}"></div>
    
    <div class="princ d-flex justify-content-center">
      <div class="modal-content2">
        <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="card my-5">
                  <form class="p-lg-5" method="post" th:action="@{/users/insert}"  style="background-color: #01002A;">
                    <div class="alert alert-danger d-flex justify-content-center" th:if="${param.error}" id="loginF" role="alert">
                      Nome de usuario já está existe!
                    </div> 
                    <div class="text-center d-flex justify-content-center" >
                      <img src="imgs/compartilhadas/icone perfil padrao.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                        width="200px" alt="profile">
                    </div>
                    <div class="mb-3">
                      <input type="text" class="form-control" name="username" aria-describedby="emailHelp"
                        placeholder="Usuario" required>
                    </div>
                    <div class="mb-3">
                      <input type="text" class="form-control" name="email" placeholder="Email" pattern=".*@.*" required>
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control" name="password" placeholder="Senha" required>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-color btn-outline-success px-5 mb-5 w-100">Cadastrar</button></div>
                    <div id="emailHelp" class="form-text text-center mb-5 text-white"> Já é cadastrado? 
                      <a href="/login" class="text-success text-decoration-underline fw-bold"> Entrar </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!--footer-->
    <div th:replace="~{fragments :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
  </body>
</html>