body{
  border: none;
  background: #1E1455
}
.card-img-top{
  height: 400px;
}
.profile{
  margin-top: -80px;
  margin-bottom: 20px;
  height: 200px;
}
.faixa{
  background-color: #4B18B0;
  color: white;
  width: 120px;
}
.row{
  --bs-gutter-x: 0;
  width: 100%;
}
.card{
  border: none;
}
.strip{
  width: 100%;
  background-color: #4B18B0;
  text-indent: 3%;
}
.card-background{
  background-image: url('/imgs/compartilhadas/space.jpg');
}
.text-profile{
  color: #FFF;
  font-family: Helvetica;
}
.card-content{
  width: 18rem;
}
.rounded-pill{
  background-color: #1E1455;
  color: white;
  width: 120px;
}
#deleteIcon{
  height: 28px;
}
#deleteIcon:hover{
  transform: scale(2.1);
  transition: all 0.5s;
}
.closeEditor {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeEditor:hover,
.closeEditor:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#btnEdit:hover,
#btnEdit:focus{
  cursor: pointer;
}