body{
  border: none;
  background: #1E1455
}
.card-img-top{
  height: 400px;
}
.profile{
  margin-top: -80px;
  margin-bottom: 20px;
  height: 200px;
}
.faixa{
  background-color: #4B18B0;
  color: white;
  width: 120px;
}
.row{
  --bs-gutter-x: 0;
}
.card{
  border: none;
}
.strip{
  width: 100%;
  background-color: #4B18B0;
  text-indent: 3%;
}
.card-background{
  background-image: url('/imgs/compartilhadas/space.jpg');
}
.text-profile{
  color: #FFF;
  font-family: Helvetica;
}
.card-content{
  width: 18rem;
}
.rounded-pill{
  background-color: #4B18B0;
  color: white;
  width: 120px;
}