body{
    border: none;
    background-color: #0B0530;
    height: 100vh;
}
.content{
    background-image: url('/imgs/compartilhadas/space.jpg');
    width: 98%;
    height: 80vh;
}
.caixa_upp{
    background-color: #4B18B0;
    border-radius: 20px;
    border: 1px solid #000;
    background: #4B18B0;
    height: 70vh;
}
.btn_upp{
    width: 501px;
    height: 60px;
    background: #041642;

    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    
    line-height: normal;
}
.btn_capa{
    width: 100px;
    height: 60px;
    background: #041642;

    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    
    line-height: normal;
}
.input-group-text{
    background-color: #041642;
}

button[type="submit"]{
    background: #4B18B0;
    width: 130px;
    height: 48px;
    position: relative;

    font-family: Helvetica;
    font-size: 20px;
}
.inputBtn {
    position: relative;
    overflow: hidden;
    background-color: #0B0530;
}
#picture__input {
    display: none;
  } 
.picture {
  width: 400px;
  aspect-ratio: 16/9;
  background: #041642;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  border: 2px dashed currentcolor;
  border-color: #052881;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.picture:hover {
  color: #0B0530;
  background: #0B0530;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #0B0530;
  background: #041642;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input[type="file"] {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0; 
}

.input-wrapper label {
  display: inline-block;
  padding: 8px 12px;
  background-color: #0B0530;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.input-wrapper label:hover {
  background-color: #0069d9;
}

#file-name {
  background-color: #061333;
  font-size: 20px;
}

  