.container {
    max-width: 960px;
}
.navbar {
    background-color:#01002A;
    height: 65px;
    flex-shrink: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
}
.caroulsel {
    width: 100%;
    overflow: hidden;
    padding: 5px 0 5px 5px;
}

.caroulsel-wrap {
    white-space: nowrap;
    font-size: 0;
}

.caroulsel-wrap a {
    display: inline-block;
    width: 134px;
    height: 92px;
    background-color: silver;
    border: #ccc 1px solid;
    margin-right: 5px;
}
#btnLogin{
    color: #C6DDFF;
    cursor: pointer;
}
#btnSigin{
    color: #C6DDFF;
    cursor: pointer;
}
a{
    color: #FFF;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}