.container {
    max-width: 960px;
}
.navbar-survival101 {
    background-color:#041642;
}
.navbar-survival101 .navbar-brand {
    margin-right: 2.15rem;
    padding: 3px 0 0 0;
    line-height: 36px;
}  
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
    }
    
    .search-box {
    width: 300px !important;
    }
}
.caroulsel {
    width: 100%;
    overflow: hidden;
    padding: 5px 0 5px 5px;
}

.caroulsel-wrap {
    white-space: nowrap;
    font-size: 0;
}

.caroulsel-wrap a {
    display: inline-block;
    width: 134px;
    height: 92px;
    background-color: silver;
    border: #ccc 1px solid;
    margin-right: 5px;
}  